.menu__link {
    text-decoration: none;
    color: var(--letra);
    font-size: 1rem;
    transition: 1s font-size;
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
    color: var(--blanco);
}

.active{
    color: var(--blanco);
}

@media screen and (max-width:767px) {
    .menu__link{
        display: flex;
        font-size: 2rem;
        align-items: center;
    }
}
