.menu__links{
    display: flex;
    gap: 1rem;
}

.menu__links.menu__activo{
    display: flex;
}


@media screen and (max-width:767px) {
    .menu-btn{
        display: block;
        background: url(../../img/menu.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        width: 40px;
        height: 40px;
    }

    .menu{
        justify-content: space-evenly;
    }

    .menu__links{
        display: none;
        position: absolute;
        top: 64px;
        right: 20px;
        background: var(--fondo);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        gap: 5rem;
        align-items: center;
        opacity: 1;
    }
}