.about__skills-logos{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about__skills-logos img{
    width: 20%;
}

@media screen and (max-width:767px){
    .about__skills-logos{
        justify-content: center;
    }
}