.about__skills{
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media  screen and (min-width: 768px)and (max-width:1023px) {
    .about__skills{
        width: 90%;
    }    
}

@media screen and (max-width:767px) {
    .about__skills{
        width: 90%;
    }    
}