.education__tarjetas{
    width: 28%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 10vh 5px;
    border-radius: 30px;
    background: var(--blanco);
    color: var(--fondo);
    box-shadow: 5px 5px 0px 0px var(--letra);
}

.education__titulo{
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
}

.education__tarjetas-img{
    margin: 5vh 0;
    width: 25vh;
    height: 24vh;
    margin: 10px;
}

.education__tarjetas-nombreIns{
    font-size: 1.5rem;
    font-weight:bold;
    color: var(--letra);
}

.education__tarjetas-titulo{
    font-size: 1rem;
    font-weight: bold;
}

.education__tarjetas-fecha, .education__tarjetas-skills{
    font-size: 0.9rem;
}


@media  screen and (min-width: 768px)and (max-width:1023px) {
    .education__tarjetas{
        width: 40%;
        height: 200px;
    }

    .education__tarjetas-img{
        width: 100px;
        height: 100px;
    }

    .education__tarjetas-nombreIns{
        font-size: 2rem;
    }

    .education__tarjetas-titulo{
        font-size: 1.5rem;
    }

    .education__tarjetas-skills{
        font-size: 1rem;
    }
}

@media screen and (max-width:767px) {
    .education__tarjetas{
        width: 40%;
        height: 100px;
    }

    .education__tarjetas-img{
        width: 50px;
        height: 50px;
    }

    .education__tarjetas-nombreIns{
        font-size: 1rem;
    }

    .education__tarjetas-titulo{
        font-size: 0.6rem;
    }

    .education__tarjetas-skills{
        font-size: 0.5rem;
    }

    .education__tarjetas-fecha{
        font-size: 0.5rem;
    }
}
